ul {
    display: flex;
    list-style: none;
  }
  
  .text p {
    font-size: 20px;
  }
  
  a {
    text-decoration: none;
    padding: 8px 50px;
    border: 1px solid darksalmon;
    border-radius: 10px;
    color: white;
  }
  
  a:hover {
    background-color: darksalmon;
    color: black;
  }
  
  li {
    padding-right: 20px;
    padding-left: 20px;
  }
  
  body {
    background-color: black;
    color: white;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .portfolio {
    text-align: center;
  }
  
  #page1,
  #page2,
  #page3 {
    height: 100vh;
  }
  
  #page4 {
    font-size: 15px;
    height: 100vh;
  }
  
  #page4 h1 {
    font-size: 20px;
  }
  
  .boxes {
    display: flex;
  }
  
  footer {
    display: flex;
    background-color: darksalmon;
    border: 1px solid darksalmon;
    padding: 20px 20px;
  }
  
  .social-icon {
    width: 30px;
    margin-right: 25px;
  }
  
  .text {
    padding: 100px 100px;
  }
  
  .art {
    border: 2px solid darksalmon;
    border-radius: 10px;
    height: 450px;
    width: 500px;
    margin-left: 50px;
  }
  
  .one {
    display: flex;
    padding: 70px 70px;
  }
  
  h1 {
    font-size: 30px;
  }
  
  h2 {
    text-decoration: underline;
    color: darksalmon;
  }
  
  .contact {
    border: 2px solid darksalmon;
    border-radius: 20px;
    padding: 80px 80px;
  }
  
  .contact {
    border: 1px dotted darksalmon;
    background-color: black;
  }
  
  .list,
  .list2,
  .list3 {
    display: flex;
    padding-top: 00px;
  }
  
  .heading {
    text-align: center;
  }
  .margin{
      margin-top: 100px;
  }
  
